{% extends 'layout/app.html.twig' %}

{% block content %}

    <div class="row py-5">
        <div class="col-12">
            <div class="row">
                <div class="col-sm-12 col-md-2">
                    <div class="btn-group">
                        <button type="button" class="btn btn-dark btn-sm" disabled>Всего задач</button>
                        <button type="button" class="btn btn-success btn-sm" disabled>{{ '{{ paginator.total }}' }}</button>
                    </div>
                </div>
                <div class="col-sm-12  col-md-6">
                    <div class="btn-group">
                        <button type="button" class="btn btn-dark btn-sm" disabled>Сортировать</button>
                        <button type="button" class="btn btn-outline-dark btn-sm" @click="orderBy('updatedAt')">По дате</button>
                        <button type="button" class="btn btn-outline-dark btn-sm" @click="orderBy('finished')">По статусу</button>
                        <button type="button" class="btn btn-outline-dark btn-sm" @click="orderBy('name')">По имени</button>
                        <button type="button" class="btn btn-outline-dark btn-sm" @click="orderBy('email')">По email</button>
                    </div>
                </div>
                <div class="col-sm-12  col-md-4">
                    <ul class="pagination justify-content-end" v-if="hasMorePages()">
                        <li class="page-item" :class="isFirstPage() ? 'disabled' : '' ">
                            <span class="page-link" v-if="isFirstPage()">Previous</span>
                            <a class="page-link" href="#" v-if="!isFirstPage()">Previous</a>
                        </li>

                        <li class="page-item" v-for="page in paginator.elements" :class="page == paginator.currentPage ? 'active' : ''">
                            <a class="page-link" href="#" @click.prevent="toPage(page)">{{ '{{ page }}' }}</a>
                        </li>

                        <li class="page-item" :class="isLastPage() ? 'disabled' : ''">
                            <span class="page-link" v-if="isLastPage()">Next</span>
                            <a class="page-link" href="#" v-if="!isLastPage()">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card mt-3" v-for="(task, index) in tasks">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div class="text-muted">{{ '{{ task.user.name + ", " + task.user.email }}' }}</div>
                        <div>{{ '{{ task.updatedAt }}' }}</div>
                    </div>
                </div>
                <div class="card-body">
                    <form :action="'/tasks/' + task.id" method="post" @submit.prevent="updateTask(index)">
                        <div class="row">
                            <div class="col-sm-12 col-md-10">
                                <textarea v-model="task.body" class="form-control"></textarea>
                            </div>
                            <div class="col-sm-12 col-md-2">
                                <div class="custom-control custom-radio">
                                    <input type="radio" :id="'radio' + '' + task.finished + '' + task.id" name="finished" class="custom-control-input" v-model="task.finished" value="true" :checked="task.finished == true">
                                    <label class="custom-control-label" :for="'radio' + '' + task.finished + '' + task.id">Выполнен</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" :id="'radio' + '' + (!task.finished) + '' + task.id" name="finished" class="custom-control-input" v-model="task.finished" value="false" :checked="task.finished == false">
                                    <label class="custom-control-label" :for="'radio' + '' + (!task.finished) + '' + task.id">Не выполнен</label>
                                </div>
                                <button type="submit" class="btn btn-success btn-sm">Обновить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="toast show position-absolute" style="left: 30px; bottom: 30px;" v-if="toaster.opened">
        <div class="toast-header">
            <img src="..." class="rounded mr-2" alt="...">
            <strong class="mr-auto">Ответ на действие</strong>
            <button type="button" class="ml-2 mb-1 close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            {{ '{{ toaster.message }}' }}
        </div>
    </div>
{% endblock %}

